<div class="col-md-12">

<h1>Talleres</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#dia1" data-toggle="tab">Lunes</a></li>
  <li><a href="#dia2" data-toggle="tab">Martes</a></li>
  <li><a href="#dia2" data-toggle="tab">Miércoles</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="margin-top:20px;">
  <div class="tab-pane active fade in" id="home">
    <ul>
      <li><span style="color:gray;">08:00h</span> Inscripción para el ingreso al evento</li>
      <li><span style="color:gray;">08:30h</span> Presentación del evento y lanzamiento de la plataforma UPEx</li>
    </ul>    
  </div>
  <div class="tab-pane fade" id="dia2">
  <ul>
    <li><span style="color:gray;">08:00h</span> Inscripción para el ingreso al evento</li>
    <li><span style="color:gray;">08:30h</span> Presentación del evento y lanzamiento de la plataforma UPEx</li>
  </ul>    
    
  </div>
</div>

</div>